.header .header__titulo {
  font-size: 35px;
  background-color: white;
  font-family: "Benne", serif;
  color: #181616;
  height: 80px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.main .main__sect1 .sect1__imagen1 {
  width: 100%;
}
@media (max-width: 600px) {
  .main .main__sect1 .sect1__imagen1 {
    width: 100%;
  }
}
.main .main__sect2 .sect2__botas, .main .main__sect2 .sect2__sandalias {
  font-size: 35px;
  font-family: "Benne", serif;
  color: #181616;
  height: 80px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.main .main__sect2 .sect2__todoImagen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
@media (max-width: 600px) {
  .main .main__sect2 .sect2__todoImagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}
@media (min-width: 600px) {
  .main .main__sect2 .sect2__todoImagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}
.main .main__sect2 .sect2__todoImagen .todoImagen__imagen2, .main .main__sect2 .sect2__todoImagen .todoImagen__imagen5, .main .main__sect2 .sect2__todoImagen .todoImagen__imagen4 {
  padding-bottom: 80px;
}
@media (max-width: 600px) {
  .main .main__sect2 .sect2__todoImagen .todoImagen__imagen2, .main .main__sect2 .sect2__todoImagen .todoImagen__imagen5, .main .main__sect2 .sect2__todoImagen .todoImagen__imagen4 {
    width: 95%;
  }
}
.main .main__sect2 .sect2__todoImagen .todoImagen__imagen3 {
  width: 50%;
  padding-bottom: 80px;
}
@media (max-width: 600px) {
  .main .main__sect2 .sect2__todoImagen .todoImagen__imagen3 {
    width: 95%;
  }
}
.main .main__sect2 .sect2__todoImagen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.footer {
  background-color: black;
}
.footer .logo {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: auto;
}
.footer .logo .logo__h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.footer .footer__container {
  margin: auto;
  width: 100%;
  display: flex;
  color: white;
}
@media (max-width: 600px) {
  .footer .footer__container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
  }
}
@media (min-width: 600px) {
  .footer .footer__container {
    margin: auto;
    width: 100%;
    display: flex;
    color: white;
  }
}
.footer .footer__container .container__col1 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col1 {
    width: 33%;
  }
}
.footer .footer__container .container__col1 .col1__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col1 .col1__p {
  margin-bottom: 10px;
}
.footer .footer__container .container__col2 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col2 {
    width: 33%;
  }
}
.footer .footer__container .container__col2 .col2__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col2 .col2__ig {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col2 .col2__fb {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col2 .col2__tw {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col3 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col3 {
    width: 33%;
  }
}
.footer .footer__container .container__col3 .col3__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col3 .col3__ul {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .container__col3 .col3__ul .ul__a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=colecciones.css.map */
