.header .header__title {
  color: black;
  text-align: center;
  font-size: 35px;
  background-color: white;
}

.sectionUno .sectionUno__primero .primero__imagen {
  width: 100%;
  height: 400px;
}

.sectionDos .sectionDos__parrafo {
  color: black;
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sectionDos .sectionDos__imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
@media (max-width: 600px) {
  .sectionDos .sectionDos__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}
@media (min-width: 600px) {
  .sectionDos .sectionDos__imagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}
.sectionDos .sectionDos__imagenes .imagenes__Uno, .sectionDos .sectionDos__imagenes .imagenes__Dos {
  padding-bottom: 80px;
}
@media (max-width: 600px) {
  .sectionDos .sectionDos__imagenes .imagenes__Uno, .sectionDos .sectionDos__imagenes .imagenes__Dos {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .sectionDos .sectionDos__imagenes .imagenes__Dos {
    width: 95%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
}
.footer .logo {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: auto;
}
.footer .logo .logo__h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.footer .footer__container {
  margin: auto;
  width: 100%;
  display: flex;
  color: white;
}
@media (max-width: 600px) {
  .footer .footer__container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
  }
}
@media (min-width: 600px) {
  .footer .footer__container {
    margin: auto;
    width: 100%;
    display: flex;
    color: white;
  }
}
.footer .footer__container .container__col1 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col1 {
    width: 33%;
  }
}
.footer .footer__container .container__col1 .col1__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col1 .col1__p {
  margin-bottom: 10px;
}
.footer .footer__container .container__col2 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col2 {
    width: 33%;
  }
}
.footer .footer__container .container__col2 .col2__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col2 .col2__ig {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col2 .col2__fb {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col2 .col2__tw {
  display: flex;
  align-items: center;
}
.footer .footer__container .container__col3 {
  width: 33%;
}
@media (max-width: 600px) {
  .footer .footer__container .container__col3 {
    width: 33%;
  }
}
.footer .footer__container .container__col3 .col3__h2 {
  margin-bottom: 15px;
}
.footer .footer__container .container__col3 .col3__ul {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .container__col3 .col3__ul .ul__a {
  color: white;
  text-decoration: none;
}

/*.footer{
   background-color:black;
   width: 100%;
   height: 80px;
}*/

/*# sourceMappingURL=estilo.css.map */
